
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

:root {
    --primary-color: #00203fff;
    --secondary-color:#18e198;
    --shadow-color:rgba(0, 0, 0, 0.123);
}

body {
    min-height: 200vh;
}



/* ==================== UTILITIES ====================== */

input {
    outline:none;
    border:none;
}

a {
    text-decoration: none;
}


img {
    width:100%;
    height:100%;
    border-radius: .5em;
    cursor: pointer;
}

.line {
    width:90%;
    height:1px;
    background: black;
    margin:.3em auto;
}

.line2 {
    width:1px;
    height:90%;
    background: black;
    margin:auto .2em;
}

.big-header {
    font-size: 2rem;
}

.header {
    font-size: 1.75rem;
}

.sub-header {
    font-size: 1.5rem;
}

.regular-text {
    font-size: 1.125rem;
}


/* ==================== TOP BAR ======================= */


.top-bar {
    width:100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:.5em .8em;
    position: fixed;
    top:0;
    left:0;
    transition: .5s;
    z-index: 50;

}


.top-bar.sticky {
    padding:.5em .8em;
}


.brand-logo {
    color:#fff;
    margin-left:1em;
    letter-spacing: .25em;
}


.left-bar {
    display: flex;
    align-items: center;
    margin-right: 1em;
}


.left-bar input {
    padding:.3em .6em;
    font-size: 1.125rem;
    border-radius: 0;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}

.icon-holder {
    background:var(--secondary-color);
    font-size: 1.125rem;
    padding:.4em .6em;
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-holder .iconify {
    font-size: 1.125rem;
    color:#fff;
}


.left-bar .user-icon {
    font-size: 2.5rem;
    margin-left: .4em;
    color:#fff;
    transform: translate(0, 5px);
}

.user-icon .iconify {
    transition: .3s;
    cursor: pointer;
}

.user-icon .iconify:hover {
    color:var(--secondary-color);
}


.user-details {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:500%;
    background: rgba(202, 202, 202, 0.76);
    backdrop-filter: blur(3px);
    border-radius: .25em;
    right:-10px;
    padding:.25em;
    box-shadow: 1px 0 5px var(--shadow-color), 0 1px 5px var(--shadow-color), -1px 0 5px var(--shadow-color), 0 -1px 5px var(--shadow-color) ;
}



.user-info {
    margin-top:.25em;
    display: flex;
    align-items: center;
    width:100%;
    background: rgba(255, 255, 255, 0);
    padding:.1em .3em;
    border-radius: .25em;
    transition: .3s;
    cursor: pointer;

}



.user-info .regular-text, .user-info .iconify {
    color:#000;
}

.user-info .iconify {
    font-size: 1.5rem;
    margin-right: .8em;
}

.user-info .regular-text {
    text-transform: capitalize;
}

.user-info:hover {
    background: #fff;
}


.user-icon:hover .user-details {
    display: flex;
}



/* ==================== CENTER OF THE SCREEN ====================== */


.center {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
}


.side-bar {
    position: fixed;
    top:65px;
    left:0;
    height:92vh;
    background:var(--primary-color);
    padding:0.6em 0.3em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.icon-container {
    padding:.4em .5em;
    margin:.5em 0;
}

.icon-container .iconify {
    font-size: 1.875rem;
    color:#fff;
    transition: .3s;
    cursor: pointer;
}

.icon-container .iconify:hover {
    color:var(--secondary-color);
}



/* ===================== FOR THE MAIN PART OF THE SITE ================== */

.center-middle {
    margin-left:4.5rem;
    padding:.5em;
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    width:100%;
}

.center-container {
    border:1px solid rgb(241, 241, 241);
    padding:.5em;
    margin:0 .5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 9px 10px 17px -2px rgba(0,0,0,0.16);
    -webkit-box-shadow: 9px 10px 17px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 9px 10px 17px -2px rgba(0,0,0,0.16);

}

.center-title {
    margin:.2em .3em;
    align-self: flex-start;
}


.video-container {
    width:85%;
    padding:.5em .5em;
    margin:1em 0;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 1px 0 5px var(--shadow-color), 0 1px 5px var(--shadow-color), -1px 0 5px var(--shadow-color), 0 -1px 5px var(--shadow-color) ;
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.video-img {
    position: relative;
    width:70%;
    min-width: 120px;
}


.live, .streamed {
    position: absolute;
    color:#fff;
    padding:.1em .5em;
    background: rgb(255, 33, 33);
    border-radius: .25em;
    bottom:8px;
    right:3px;
    text-transform: uppercase;
    
}

.streamed {
    background: rgb(46, 46, 46);
    text-transform: lowercase;
    text-transform: capitalize;
}

.video-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:.5em .3em;
    width:100%;
}

.video-name {
    margin-left:.3em;
    font-size: 1.125rem;
}


.section-container .video-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


.video-info {
    display: flex;
    justify-content: space-between;
    padding:.2em .5em;
    border-radius: .5em;
    background: rgb(247, 247, 247);
    margin:.25em 0;
}


.video-views, .video-likes {
    display: flex;
    align-items: center;
    cursor: pointer;
}


#views {
    color:rgb(255, 33, 33);
}


#likes {
    transition: .2s;
    color:#000;
}

#likes:hover {
    color:var(--secondary-color);
}


.info-value {
    margin:0 .2em;
}


.video-types {
    display: flex;
    align-items: center;
    margin-left:.5em;
    margin:.25em;
    
}

.video-types a {
    color:rgb(65, 65, 65);
}

.show-more {
    display: flex;
    align-items: center;
    transition: .3s;
}

.show-more .regular-text {
    margin: 0 .2em;
}

.show-more:hover {
    color:var(--secondary-color);
}


/* ==================== RECENT NEWS STYLES ================= */


.recents-cont {
    display: flex;
    flex-direction: row;
}

.recent-news-title {
    margin:.2em .4em;
    align-self: flex-start;
}

.game-img {
    width:100%;
    height:100%;
    position: relative;
}

.recent-news-title {
    z-index: 5;
}


.side-game-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .4em;
}

.game-content {
    position: absolute;
    bottom:0;
    left:0;
    padding: 0 0 1.2em 2.5em;
    color:#fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), black);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    width:100%;
}


.game-content #title {
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: .5em;
    
}


.game-content #regular {
    margin:.3em 0;
    transition: .3s;
}

.game-content #regular a {
    color:#fff;
}

.game-content #regular a:hover {
    color: var(--secondary-color);
}


.game-content .sub-header {
    width:50%;
}


.side-game-img {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    margin: .5em 0;
    border-radius: .5em;
    box-shadow: 1px 0 5px var(--shadow-color), 0 1px 5px var(--shadow-color), -1px 0 5px var(--shadow-color), 0 -1px 5px var(--shadow-color) ;

}

.side-game-img img {
    width:150px;
}

.side-game-imgs .regular-text {
    height:fit-content;
}



/* ==================== REMAINING PART OF THE SCREEN GOES HERE =================== */


.all-container {
    margin-top:2rem;
    margin-left:4.5rem;
}

.section-container {
    margin-top:2.5rem;
}

.section-container > .center-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-container > .center-container > .video-container {
    margin:0 .5em;
}


.section-head {
    padding:0 1em;
    margin:.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.section-head .regular-text a {
    color:#000;
    transition: .3s;
}

.section-head .regular-text a:hover {
    color:var(--secondary-color);
}


/* for the video details to come under the img */
.flex-column {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.flex-column > .video-img {
    width:100%;
}

.video-img {
    overflow: hidden;
}

.video-img img {
    transition: .3s;
}

.video-img img:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    z-index: -5;
}

.video-img:hover {
    border-radius: .5em;
}

.video-img:hover .live, .video-img:hover .streamed {
    z-index: 10;
}

.tournament {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
}



.tournament-logo {
    position: relative;
    width:225px;
    height:auto;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: center;
    margin:0 .75em;
    transition: .3s;
    cursor: pointer;
}


.tournament-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.tournament-name {
    color:#fff;
    text-align: center;
    width:50%;
    display: none;
    font-weight: bolder;
}

.tournament-logo:hover .tournament-name{
    display: block;
}


.tournament-logo:hover .tournament-bg {
    background: rgba(0, 0, 0, 0.454);
}



/* ===================== THE BOTTOM PART OF THE SITE ==================== */
footer {
    margin:2rem 0;
    margin-left: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color:#000;
    transition: .3s;
}


.credits {
    display: flex;
    align-items: center;
}

footer .iconify {
    font-size: 1.5rem;
    margin:0 .3em;
}

.credits a:hover {
    color: var(--secondary-color);
}

.credits a {
    margin: 0 .35em;
}



/* ================== MEDIA QUERIES ===================== */


@media (max-width:1100px) {


    .center-middle {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width:90%;
        align-content: center;
        justify-content: center;
        margin:auto;
    }

    .top-trends {
        order: 2;
    }

    .recents-cont {
        order:1;
    }

    .top-trends, .recents-cont,.section-container > .center-container > .video-container, .tournament-logo{
        margin:1em;
    }

    .section-container > .center-container {
        flex-wrap: wrap;
    }

    .recents-cont, .top-trends {
        margin-left: 4.5rem;
    }
}


@media (max-width:550px) {
    .recents-cont {
        flex-direction: column;
        max-width: 500px;
    }

    .side-game-imgs {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .side-game-img {
        max-width: 150px;
        margin:.5em;
    }

    .section-container > .center-container > .video-container {
        max-width: 250px;
    }

    .game-content .sub-header {
        width:90%;
    }

    .big-header {
        font-size: 1.75rem;
    }

    .header {
        font-size: 1.5rem;
    }

    .sub-header {
        font-size: 1.25rem;
    }

    .regular-text {
        font-size: 1rem;
    }

}


@media (max-width:450px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
    }

    .brand-logo {
        margin:.5em 0;
    }

    .side-bar {
        top:95px;
        height:90vh;
    }

    .top-trends .video-container {
        width:100%;
    }

    .left-bar {
        width:90%;
    }

    .left-bar .icon-holder {
        margin-right: 2.25em;
    }
}